.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.scroll-x{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none; //Hide scrollbar in IE
    scrollbar-width: none; //Hide scrollber in Firefox
    &::-webkit-scrollbar{
        display: none; //Hide scrollbar in Chrome
    }
}

.mgt0{
    margin-top: 0px;
}

.mgt2{
    margin-top: 2px;
}

.mgt4{
    margin-top: 4px;
}

.mgt6{
    margin-top: 6px;
}

.mgt8{
    margin-top: 8px;
}

.mgt10{
    margin-top: 10px;
}