.screen-out {
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    text-indent: -9999px;
}

.mgt0{
    margin-top: 0px;
}

.mgt2{
    margin-top: 2px;
}

.mgt4{
    margin-top: 4px;
}

.mgt6{
    margin-top: 6px;
}

.mgt8{
    margin-top: 8px;
}

.mgt10{
    margin-top: 10px;
}